
<div class="container">
	<div class="row">
		<div class="jumbotron col-12">
			<div class="display-1 text-center">
				OpenSheets
			</div>
			<div class="lead text-center">
				Beta
			</div>
		</div>
	</div>
	<div class="row alert alert-primary">
		<div>
			<span class="font-weight-bold">
				<fa-icon [icon]="['fas', 'lock']"></fa-icon>&nbsp;This is a security alert! Change your password! Hide your wife!
			</span>
			<hr class="mb-2">
			<p>Someone broke into our databases, but there's nothing to worry about. You see, we were super careful to encrypt everything. Just in case, though, you really ought to change your password.</p>
		</div>
	</div>
</div>