<nav class="navbar">
	<div class="mr-auto">
		<a class="navbar-brand text-dark" [routerLink]="['/home']">
			<img src="">
			<span class="font-weight-bold">O</span>pen
			<span class="font-weight-bold">S</span>heets
			<fa-icon [icon]="['fas', 'book-open']"></fa-icon>
		</a>
	</div>
	<div class="">
		<opensheets-logout-header-panel *ngIf="!(loggedIn | async)"></opensheets-logout-header-panel>
		<opensheets-login-header-panel *ngIf="loggedIn | async"></opensheets-login-header-panel>
	</div>
</nav>